<%-include('./partials/header.ejs')%>

    <!-- Strat of navbar navigation -->
    <%-include('./partials/nav.ejs')%>
    <!-- end of navbar navigation -->
    
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">Overview</div>
                            <h2 class="page-title">Dashboard</h2>
                        </div>
                    </div>
                    <div>
                    <h1>All Garments Welfare Organization Of India</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Start Footer Area -->
	<%-include('./partials/footer.ejs')%>
