
<style>
    li{
        padding-right: 25px;
    }
</style>
<footer class="footer-area section-gap" style="height: 23rem;">
    <div class="container" >
        <div class="row" style="display: flex; ">
            <div class="col-lg-3 col-md-5 single-footer-widget" style="margin-right: 50px;">
                <h4>Reference</h4>
                <ul style="display: flex; padding-right: 30px;">
                    <li><a href="#">Developer</a></li>
                    <li><a href="#">Resource</a></li>
                    <li><a href="/admin/login">Admin</a></li>
                    
                </ul>
            </div>
            <div class=" col-lg-6 col-md-5 right single-footer-widget">
                <h4>Quick Links</h4>
                <ul style="display: flex;">
                    <li><a href="/">Home</a></li><br>
                    <li><a href="/about">About </a></li><br>
                    <li><a href="/apply">Be a member</a></li><br>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            
            
        </div>
        <div class=" row align-items-center" style="text-align: center;  margin-top: 30px;"  >
            <p class="footer-text m-0 col-lg-12 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="/admin/login">  </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            
        </div>
    </div>

</footer>
<!-- End Footer Area -->

<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="/js/easing.min.js"></script>
<script src="/js/hoverIntent.js"></script>
<script src="/js/superfish.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/owl-carousel-thumb.min.js"></script>
<script src="/js/hexagons.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/main.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</body>

</html>