<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

<style>

    html,
    body,
    header,
    .view {
      height: 100%;
    }
    .row{
        margin-left: 20%;
    }
  
  </style>
  
  <header>
      <div class="view grey lighten-3">
              <div class="container h-100">
                  <div class="row align-items-center h-100">
                    <div class="col-md-5">
                        <img src="/img/paysucces.png" alt="" class="" height="300rem">
                    </div>
          
                    <div class="col-md-6">
                        <h1 class="mb-4">Amount paid<br><span class="cyan-text">Successful</span></h1>
                        <!-- <a class="btn btn-primary btn-rounded btn-md ml-md-0" href="/admin/index">Done</button> -->
                        <a class="btn btn-primary" href="/">Done</a>
                    </div>
                    </div>
                </div>
            
        </div>
    
  </header>