<%-include('./partials/header.ejs')%>
	<!-- start header Area -->
	<%-include('./partials/navigation.ejs')%>
	<!-- end header Area -->

	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row banner-content">
				<div class="col-lg-12 d-flex align-items-center justify-content-between">
					<div class="left-part">
						<h1>
							About Us
						</h1>
						<p class="arial">
							All Garments Welfare Organization Of India(agwoi) is a welfare association for small garment shop owners.  
						</p>
						



						  <div class="row">
							<div class="col-md-3">
								<img class="img-fluid" src="img/logoag.png" alt=""  width="128" height="128">
							</div>
							<div class="col-md-9 mt-sm-20">
								<p class="arial">Our main motive is to help the small garment shop owners<br>in their business located in various districts of Tamilnadu</p>
									<p class="u-text u-text-black u-text-2">OUR MANTRA:&nbsp; <span class="u-text-custom-color-1">"</span>
										<span class="u-text-custom-color-1">STAND TOGETHER TO ACHIEVE"</span>
									</p>
							</div>
						</div><br>

						
					</div>
					
					
					<div class="right-part">
						<a href="/">home</a>
						<span class="fa fa-caret-right"></span>
						<a href="/about">about</a>
					</div>
						
				</div>
				
			</div>
			
		</div>
		</div>
	</section>

	
	<!-- End banner Area -->

	<!-- Start fact Area -->
	<!--<section class="fact-area section-gap-top">
		<div class="container">
			<div class="fact-box">
				<div class="row align-items-center">
					<div class="col single-fact">
						<h2>100K+</h2>
						<p>Total Downloads</p>
					</div>
					<div class="col single-fact">
						<h2>10K+</h2>
						<p>Positive Reviews</p>
					</div>
					<div class="col single-fact">
						<h2>50K+</h2>
						<p>Daily Visitors</p>
					</div>
					<div class="col single-fact">
						<h2>0.02%</h2>
						<p>Uninstallation Rate</p>
					</div>
					<div class="col single-fact">
						<h2>15K+</h2>
						<p>Pro User</p>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- End fact Area -->
	<div class="col-md-9 mt-sm-20 container">
		<h4>Our Story Begins here....</h4><br>
			<p class="story">Due to covid-19 shops all over the world had faced many issues. In Madurai, small garment shops have faced business-related problems due to lockdown for the past two years. So to help small garment shop owners and merchants, we have decided to start an association in Madurai to help garment shop owners. As per the discussions we had with the members, AGWOI(All Garments Welfare Of India) was started in the year 2022.</p>
			
		</div>
	<!-- Start feature Area -->
	<section class="feature-area section-gap-top">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>OUR MVO</h2>
						<p>MISSION  VISION  AND OBJECTIVE
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>MISSION</h3>
						</a>
						<p>
							MISSON of agwoi is mainly to help the garment shop owners in development of their business and support them in this pandemic.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>VISION</h3>
						</a>
						<p>
							VISION of AGWOI is to make our members to achieve a milestone in the garment business market.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>OBJECTIVE</h3>
						</a>
						<p>
							OBJECTIVE of AGWOI is to train our members to showcase a diverse range of products to their customers for different situations.
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End feature Area -->

	<!-- Start about Area -->
	<section class="about-area">
		<div class="container">
			<div class="section-top-border">
				<div class="section-title text-center">
					<h2>OUR INITIATIVES </h2>
				</div>
				<div class="row">
					<div class="col-sm-6">
					  <div class="card"> 
						<div class="card-body">
						  <h5 class="card-title">DEVELOPMENT</h5>
						  <p class="card-text">Madurai Garment Association(AGWOI) help in the Development and growth of businesses in garment industry. The Madurai Garment Association will also provide appropriate advice to achieve in their career</p>
					
						</div>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">CONFERENCE</h5>
						  <p class="card-text">AGWOI will conduct a conference meeting for members in an online mode. Madurai Garment Association will conduct seminars and training for the members exclusively. AGWOI senior members will discuss the strategies in developing the business in the meeting </p>
						</div>
					  </div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
					  <div class="card"> 
						<div class="card-body">
						  <h5 class="card-title">BANK LOANS</h5>
						  <p class="card-text">All loans, including transportation loans, are subsidized available with concessions at Government Banks and Private Banks. Madurai Garment Association(AGWOI) helps the members to approach the government for a discount on loans</p>
					
						</div>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">TAXES</h5>
						  <p class="card-text">AGWOI will provide advice and appropriate solutions regarding all taxes like GST, SALES TAX, INCOME TAX. Madurai Garment Association will also provide information about the current tax rate and GST rates to the members.</p>
						</div>
					  </div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6">
					  <div class="card"> 
						<div class="card-body">
						  <h5 class="card-title">TRADERS</h5>
						  <p class="card-text">Madurai Garment Association helps the members in explaining the uthayam registration and gives detailed information about the G.E.M portal where the benefits of government in the garment industry will be clearly explained.</p>
					
						</div>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">MANUFACTURERS</h5>
						  <p class="card-text">AGWOI will help the manufacturers, requesting a loan with government benefits and offers. Benefits in an electric board of Indian government for their garment shops are explained by senior members.</p>
						</div>
					  </div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
					  <div class="card"> 
						<div class="card-body">
						  <h5 class="card-title">MAGAZINES</h5>
						  <p class="card-text">Magazines will be prepared and sent to the members once six months or once a year by the All Garments Welfare Organization Of India. We ensure that all the facts and information are distributed to the members by magazines.</p>
					
						</div>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">EXHIBITION</h5>
						  <p class="card-text">AGWOI arranges exhibitions in which all the members of the Madurai Garment Association are present. Hoping that these exhibitions will be resolving some problems of wholesale textiles, we take the initiative.</p>
						</div>
					  </div>
					</div>
				</div>

				
				<div class="row">
					<div class="col-sm-6">
					  <div class="card"> 
						<div class="card-body">
						  <h5 class="card-title">LABOURS</h5>
						  <p class="card-text">Madurai Garment Association focuses on providing the laborers and owners with the welfare schemes provided by the government. AGWOI helps the laborers by providing the best welfare plan.</p>
					
						</div>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">LEGAL DIVISION</h5>
						  <p class="card-text">AGWOI provides all legal advice to the members related to all problems. Problems related to the business are solved by the senior members of our organization.</p>
						</div>
					  </div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
					  <div class="card"> 
						<div class="card-body">
						  <h5 class="card-title">TEX PARK</h5>
						  <p class="card-text">The future vision of AGWOI is Vision 2025 Textiles Park Wholesale Textiles. Our purpose is to establish the garment textiles industry all over the country by 2025. Let us start together to make it big and bright future.</p>
					
						</div>
					  </div>
					</div>
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">SOCIAL ACTIVITIES</h5>
						  <p class="card-text">Madurai Garment Association(AGWOI) plans to conduct seminars,  awareness programs, assist disabled people, receive government welfare schemes for workers and solve study-related problems for students.</p>
						</div>
					  </div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End about Area -->


	<!--Teams section-->
	<section class="teams-area">
	<div class="container">
		<div class="section-title text-center">
			<h2>OUR TEAMS </h2>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="card card-flip h-100">
					<div class="card-front text-white bg-success">
						<div class="card-body">
							
							<h3 class="card-title">Retailers Team</h3>
							<p class="card-text"> a person who holds a supervisory position directing the sales team</p>
						</div>
					</div>
					<div class="card-back bg-white">
						<div class="card-body">
							<img class="img-fluid" src="img/retail.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-flip h-100">
					<div class="card-front text-white bg-warning">
						<div class="card-body">
							
							<h3 class="card-title">GARMENTS and TEXTILE TEAM</h3>
							<p class="card-text">manufacture yarn into textile products that are used in clothing</p>
						</div>
					</div>
					<div class="card-back bg-dark text-white">
						<div class="card-body">
							<img class="img-fluid" src="img/labourteam.jpg">
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-flip h-100">
					<div class="card-front text-white bg-primary">
						<div class="card-body">
							
							<h3 class="card-title">LABOUR TEAM</h3>
							<p class="card-text">Backbone of Garment industry</p>
						</div>
					</div>
					<div class="card-back bg-white">
						<div class="card-body text-primary">
							<img class="img-fluid" src="img/retail.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 my-3">
				<div class="card card-flip h-100">
					<div class="card-front text-white bg-dark">
						<div class="card-body">
							<h3 class="card-title">JOB WORKER TEAM</h3>
							<p class="card-text">Manages the labour team.</p>
						</div>
					</div>
					<div class="card-back bg-white">
						<div class="card-body">
							<img class="img-fluid" src="img/readymade.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 my-3">
				<div class="card card-flip h-100">
					<div class="card-front text-white bg-danger">
						<div class="card-body">
							
							<h3 class="card-title">TRADERS TEAM</h3>
							<p class="card-text">a structure managing the purchases of its affiliates</p>
						</div>
					</div>
					<div class="card-back bg-white">
						<div class="card-body">
							<img class="img-fluid" src="img/traderteam.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 my-3">
				<div class="card card-flip h-100">
					<div class="card-front text-white bg-success">
						<div class="card-body">
							
							<h3 class="card-title">READY MADE MANUFATURER TEAM</h3>
							<p class="card-text">Manufacture garment on their own</p>
						</div>
					</div>
					<div class="card-back bg-white">
						<div class="card-body">
							<img class="img-fluid" src="img/readymade.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	





	<!--End of team section-->




	<!-- Start Testimonials Area -->
	<section class="testimonial-area section-gap-top">
		<div class="container">
			<div class="section-title text-center">
				<h2>OUR SENIOR MEMBERS </h2>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<ul class="list-group list-group-horizontal-md">
						<li class="list-group-item">A.M Rafeek</li>
						<li class="list-group-item">A.Mohamed Adam</li>
						<li class="list-group-item">Mahalingam</li>
					</ul>
				</div>

				<div class="col-sm-4">
					<ul class="list-group list-group-horizontal-md">
						<li class="list-group-item">Venkatachalam</li>
						<li class="list-group-item">Durai</li>
					</ul>
				</div>

			</div>
		</div>
		</section>
		<br><br><br>
	<!-- End Testimonials Area -->

	<!-- Start Footer Area -->
	<%-include('./partials/footer.ejs')%>