<%-include('./partials/header.ejs')%>
	<!-- start header Area -->
	<%-include('./partials/navigation.ejs')%>
	<!-- end header Area -->
	<!-- start banner Area -->

	<style>
		@media (max-width:767px) {
			.lo{
				display: none;
			}
		}
	</style>

	<section class="home-banner-area">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="home-banner-content col-lg-6 col-md-6">
					<h1>
						AGWOI
					</h1>
					<h4>ALL GARMENTS WELFARE ORGANISATION OF INDIA</h4><br>
					<p>"Fashion is the armor to survive<br>the reality of everday life"<br>-bill Cunningham</p>
					<div class="download-button d-flex flex-row justify-content-start">
						
						<div class="buttons dark flex-row d-flex">
							
							<div class="desc">
								<a href="/apply">
									<p>
										<span>Join with us</span> <br>
										Be a member
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="right-part lo" style="color: white; margin-right: 70px; ">
					<img src="/img/logoag.png" alt="" height="300px"  width="300px">
				</div>


				<!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div class="carousel-item active">
						  <img src="img/screenshots/d2.jpg" class="d-block w-75" alt="...">
					  </div>
					  <div class="carousel-item">
						<img src="img/screenshots/d3.jpg" class="d-block w-75" alt="...">
					  </div>
					  <div class="carousel-item">
						<img src="img/screenshots/d4.jpg" class="d-block w-75" alt="...">
					  </div>
					</div>
				  </div>-->


			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start fact Area -->
	<section class="fact-area">
		<div class="container">
			<div class="fact-box">
				<div class="row align-items-center">
					<div class="col single-fact">
						<h2>30+</h2>
						<p>DISTRICTS</p>
					</div>
					<div class="col single-fact">
						<h2>100+</h2>
						<p>MEMBERS</p>
					</div>
					<div class="col single-fact">
						<h2>80+</h2>
						<p>ACTIVE MEMBERS</p>
					</div>
					<div class="col single-fact">
						<h2>98%</h2>
						<p>SUCCESS RATE</p>
					</div>
					<div class="col single-fact">
						<h2>50+</h2>
						<p>CONFERENCES</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End fact Area -->

	<!-- Start feature Area -->
	<section class="feature-area section-gap-top">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>Unique Features</h2>
						<p>All Garments Welfare Of India aims to be the best......
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>SENIOR ADVISORS</h3>
						</a>
						<p>
							We have senior-most members to give advice related to any problem for members in Madurai Garment Association.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>CONFERENCES</h3>
						</a>
						<p>
							AGWOI will conduct a conference meeting for members in an online mode. Madurai Garment Association will conduct seminars and training for the members exclusively. 
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<a href="#" class="title">
							<span class="lnr lnr-book"></span>
							<h3>Great Support</h3>
						</a>
						<p>
							Members of our organization will have great support from the organization, hoping that we solve your problems. 
						</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End feature Area -->

	<!-- Start about Area -->
	<br><br><br><br> <br>
	<section class="about-video-area section-gap">
		<div class="vdo-bg">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<div class="col-lg-12 about-video-right justify-content-center align-items-center d-flex relative">
						<div class="overlay overlay-bg"></div>
						<a class="play-btn" href="https://video.twimg.com/ext_tw_video/1407512326941515778/pu/vid/640x288/AcbF7gR4u4DGURUB.mp4?tag=12"><img class="img-fluid mx-auto" src="img/play-btn.png"
							 alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
			
	<!-- End about-video Area -->


	<!-- Start Pricing Area -->
	<section class="pricing-area">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>MEMBERSHIP FEE</h2>
						
					</div>
				</div>
			</div>

			<div class="row">
				
				<div class="col-lg-4 col-md-6">
					<div class="single-price">
						<div class="top-sec d-flex justify-content-between">
							<div class="top-center">
								<h4>Basic</h4>
								<p>For <br>every members</p>
							</div>
							<div class="top-right">
								<h1>Rs 2000</h1>
							</div>
						</div>
						<div class="end-sec">
							<ul>
								<li>Allowed to view existing members</li>
								<li>Can have discussion</li>
								<li>Easily accessible</li>
								<li>Reliable Service</li>
								<li>Recieves notification on any events</li>
							</ul>
							<button class="primary-btn price-btn mt-20">Purchase Plan</button>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</section>
	<!-- End Pricing Area -->


	<!-- Start Testimonials Area -->
	<section class="testimonials-area section-gap-top">
		<div class="container">
			<div class="section-title text-center">
				<h2>About us </h2>
			</div>
			<div class="testi-slider owl-carousel" data-slider-id="1">
				<div class="item">
					<div class="testi-item">
						
						<h4>A.M Rafeek</h4>
						
							<p>
								Founder and President
							</p>
						
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						
						<h4>A. Mohamed Adam</h4>
						
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								General Secretary
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						
						<h4>Mahalingam</h4>
						
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								State joint Secretary
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						
						<h4>Venkatachalam</h4>
						
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Organization State Advisor
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi-item">
						
						<h4>Durai</h4>
						
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								State Co-ordinator
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1" >
				<div style="margin-bottom: 40px; display: flex;">

				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/m1.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<br>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/m2.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<br>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/m3.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<br>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/m4.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<br>
				<div class="owl-thumb-item">
					<div>
						<img class="img-fluid" src="img/testimonial/m5.jpg" alt="">
					</div>
					<div class="overlay overlay-grad"></div>
				</div>
				<br>
			</div>
			</div>
		</div>
	</section>
	<!-- End Testimonials Area -->

	<!-- Start Screenshot Area -->
	<section class="screenshot-area section-gap-top">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>Featured Screens</h2>
						<p>
							Some Screenshots
						</p>
					</div>
				</div>
				<div class="owl-carousel col-lg-9 owl-screenshot">
					<div class="single-screenshot ">
						<img class="img-fluid" src="img/screenshots/t1.jpg" alt="">
					</div>
					<div class="single-screenshot ">
						<img class="img-fluid" src="img/screenshots/t2.jpg" alt="">
					</div>
					<div class="single-screenshot ">
						<img class="img-fluid" src="img/screenshots/t3.jpg" alt="">
					</div>
					<div class="single-screenshot ">
						<img class="img-fluid" src="img/screenshots/t4.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<br><br>
	<!-- End Screenshot Area -->

	
	<!-- Start Footer Area -->
		<%-include('./partials/footer.ejs')%>