        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/datatables/datatables.min.js"></script>
        <script src="/assets/js/initiate-datatables.js"></script>
        <script src="/assets/js/form-validator.js"></script>
        <script src="/assets/js/script.js"></script>
    </body>

</html>