<div class="wrapper">
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <img src=""  class="app-logo">
        </div>
        <ul class="list-unstyled components text-secondary">
            <li>
                <a href="/admin/dashboard"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="/admin/tables"><i class="fas fa-table"></i> Applicants</a>
            </li>
            
            <li>
                <a href="/admin/index"><i class="fas fa-user-friends"></i> View Members</a>
            </li>
            
            <li>
                <a href="/admin/addEvents"><i class="fa fa-calendar" aria-hidden="true"></i> Add Event</a>
            </li>

        </ul>
    </nav>
    <div id="body" class="active">
        <!-- navbar navigation component -->
             <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <button type="button" id="sidebarCollapse" class="btn btn-light">
                <i class="fas fa-bars"></i><span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto">
                   
                    <li class="nav-item dropdown">
                        <div class="nav-dropdown">
                            <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i> <span>Admin</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                <ul class="nav-list">
                                    <li><a  href="/admin/tables" class="dropdown-item"><i class="fas fa-table"></i> Applicants</a></li>
                                    <li><a href="/admin/index" class="dropdown-item"><i class="fas fa-user-friends"></i> View Members</a></li>
                                    <li>
                                        <a href="/admin/addEvents" class="dropdown-item"><i class="fa fa-calendar" aria-hidden="true"></i> Add Event</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <form action="/admin/logout" method="post">
                                        <li><button class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</button></li>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
 